<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Runtal</a>
    </div>
  </nav>

  <style>
    .navbar {
            background-color:black;
        }
    </style>