<% layout("layout/boilerhome") %>
<div class="back">
 <div class="quote">
<h1>SERVICE TO OTHERS IS THE RENT YOU PAY FOR YOUR ROOM HERE ON EARTH</h1>
 </div>
</div>

<style>
    body{
        background-image: url("/icon/house.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .back{
        background: rgba(60, 60, 60, 0.4);
        margin: 25px;
        padding: 200px;
    }
    .quote{
        background: none;
        padding: 50px;
        border: 5px solid white;
    }
    h1{
        color: white;
    }
</style>