<% layout("layout/boilerplate") %>
    <form action="/house" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row py-5">
            <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" name="house[address]"required>
                      <div class="valid-feedback">
                        Valid
                      </div>
                      <div class="invalid-feedback">
                        Invalid
                      </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="landmark" class="form-label">Location</label>
                      <input type="text" class="form-control" id="inputZip" name="house[location]"required>
                      <div class="valid-feedback">
                        Valid
                      </div>
                      <div class="invalid-feedback">
                        Invalid
                      </div>
                    </div>
                  <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="house[city]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="house[state]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zip" name="house[zip]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="houseno" class="form-label">House No</label>
                    <input type="text" class="form-control" id="houseno" name="house[houseno]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="water" class="form-label">Water Availability</label>
                    <select id="water" class="form-select" name="house[water]"required>
                      <option selected disaabled value="">Choose...</option>
                      <option>24 Hours</option>
                      <option>Weekely ones</option>
                      <option>Moderate</option>
                      <option>Rare</option>
                      <option>Available</option>
                    </select>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                    </div>
                    <div class="col-md-4">
                    <label for="extraroom" class="form-label">Additional Rooms</label>
                    <select id="extraroom" class="form-select" name="house[extraroom]"required>
                      <option selected disabled value="">Choose...</option>
                      <option>Puja Room</option>
                      <option>Study Room</option>
                      <option>Office Room</option>
                      <option>Store Room</option>
                      <option>Puja and Store Room Available </option>
                      <option>Office,Store and Puja Room Available </option>
                    </select>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                    </div>
            
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="overlook" class="form-label">Overlooking</label>
                <input type="text" class="form-control" id="overlook" name="house[overlook]"required>
                <div class="valid-feedback">
                  Valid
                </div>
                <div class="invalid-feedback">
                  Invalid
                </div>
              </div>
              <div class="col-md-6">
              <label for="landmark" class="form-label">Landmark(LINK)</label>
                <input type="text" class="form-control" id="location" name="house[landmark]"required>
                <div class="valid-feedback">
                  Valid
                </div>
                <div class="invalid-feedback">
                  Invalid
                </div>
            </div>
          </div>
        </div>

          <div class="col-lg-6">
             
            <div class="row mb-3">
                <div class="col-md-4">
                <label for="bedroom" class="form-label">Bedroom</label>
                <select id="bedroom" class="form-select" name="house[bedroom]"required>
                  <option selected disaabled value="">Choose...</option>
                  <option>4BHK</option>
                  <option>3BHK</option>
                  <option>2BHK</option>
                  <option>1BHK</option>
                </select>
                <div class="valid-feedback">
                  Valid
                </div>
                <div class="invalid-feedback">
                  Invalid
                </div>
                </div>
            
       
               

                        <div class="col-md-4">
                          <label for="floor" class="form-label">Floors</label>
                          <select id="floor" class="form-select" name="house[floor]"required>
                            <option selected disabled value="">Choose...</option>
                            <option>4</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                            <option>G</option>
                          </select>
                          <div class="valid-feedback">
                            Valid
                          </div>
                          <div class="invalid-feedback">
                            Invalid
                          </div>
                          </div>
                   
                                <div class="col-md-4">
                                  <label for="facing" class="form-label">Facing</label>
                                  <select id="facing" class="form-select" name="house[facing]"required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>North</option>
                                    <option>South</option>
                                    <option>East</option>
                                    <option>West</option>
                                  </select>
                                  <div class="valid-feedback">
                                    Valid
                                  </div>
                                  <div class="invalid-feedback">
                                    Invalid
                                  </div> 
                                  </div>

                </div>



                <div class="row mb-3">
                <div class="col-md-6">
                  <label for="parking" class="form-label">Parking</label>
                  <select id="parking" class="form-select" name="house[parking]"required>
                    <option selected disabled value="">Choose...</option>
                    <option>4 wheeler Parking</option>
                    <option>2 Wheeler Parking</option>
                    <option>Both Parking</option>
                    <option>No Parking</option>
                  </select>
                  <div class="valid-feedback">
                    Valid
                  </div>
                  <div class="invalid-feedback">
                    Invalid
                  </div>
                  </div>
                  <div class="col-md-6">
                      <label for="bathroom" class="form-label">Bathrooms</label>
                      <select id="bathroom" class="form-select" name="house[bathroom]"required>
                        <option selected disabled value="">Choose...</option>
                          <option>4</option>
                          <option>3</option>
                          <option>2</option>
                          <option>1</option>
                      </select>
                      <div class="valid-feedback">
                        Valid
                      </div>
                      <div class="invalid-feedback">
                        Invalid
                      </div>
                      </div>
                    </div>





            <div class="row mb-3">
                
                      <div class="col-md-12 d-flex">
                        <legend class="col-form-label col-sm-2 pt-0">Furnished</legend>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="house[furnished]" id="gridRadios1" value=" Full Furnished" checked>
                            <label class="form-check-label" for="gridRadios1">
                              Full Furnished
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="house[furnished]" id="Semi Furnished" value="Semi Furnished">
                            <label class="form-check-label" for="Semi Furnished">
                                Semi Furnished
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="house[furnished]" id="Unfurnished" value="Unfurnished">
                            <label class="form-check-label" for=" Unfurnished">
                                Unfurnished
                            </label>
                          </div>          
                </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-4">
                    <label for="buildage" class="form-label">Age of Construction</label>
                    <input type="text" class="form-control" id="buildage" name="house[buildage]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="Securityamt" class="form-label">Security Deposit</label>
                    <input type="text" class="form-control" id="Securityamt" name="house[Securityamt]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="area" class="form-label">Area(sqft)</label>
                    <input type="text" class="form-control" id="area" name="house[area]" required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
            
                </div>
                <div class="row mb-4">
                  <div class="col-md-6">
                    <label for="images" class="form-label"> House Image</label>
                    <input type="file" class="form-control" id="fronthouse" name="images"required  multiple>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="price" class="form-label">Runtal Price</label>
                    <input type="text" class="form-control" id="price" name="house[price]"required>
                    <div class="valid-feedback">
                      Valid
                    </div>
                    <div class="invalid-feedback">
                      Invalid
                    </div>
                  </div>
                </div>
        </div>
  
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="image" name="house[description]"required></textarea>
      <div class="valid-feedback">
        Valid
      </div>
      <div class="invalid-feedback">
        Invalid
      </div>

    </div>

      <div class="mb-4">
        <center>
      <button class="btn">Add</button>
    </center>
  </div>

    </form>

    <style>
      .btn{
      margin-top: 10px;
      width: 180px;
      padding: 8px 20px;
      outline: none;    
      background-color: black;
      color: white;
      }
      .btn:hover{   
      background-color: gray;
      color: white;
      }
      .form-check{
        margin-left: 10px;
      }
      </style>

